<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="epeden.nightwalker">

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Nightwalker"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DashboardActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".SleepingActivity"/>

        <service
            android:name=".SleepService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".AlarmReceiver" />

    </application>

</manifest>